@model List<FoodGenie.Models.CartItem>
<div class="panel panel-default">
    <div class="panel-heading">Your Cart</div>
    <div class="panel-body">
        <ul>
            @foreach (var item in Model)
            {
                <li> 
                @Html.ActionLink("+", "CartIncrement", "Dashboard", new { itemId = item.Id }, new { @class = "btn btn-danger" })
                @item.Recipe.Name with Count @item.Count
                @Html.ActionLink("-", "CartDecrement", "Dashboard", new { itemId = item.Id }, new { @class = "btn btn-danger" })
                </li>
        }
        </ul>
    </div>
</div>
